[submodule "tmux"]
	path = tmux
	url = git@github.com:castlele/tmux.git

[submodule "nvim"]
	path = nvim
	url = git@github.com:castlele/nvim.git

[submodule "kitty"]
	path = kitty
	url = git@github.com:castlele/kitty.git
