<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.mpd</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/mpd</string>
        <string>--no-daemon</string>
        <string>/Users/castlelecs/.config/mpd/mpd.macos.conf</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/castlelecs/.config/mpd/log</string>
    <key>StandardOutPath</key>
    <string>/Users/castlelecs/.config/mpd/log</string>
</dict>
</plist>
